/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --title-color: hsl(250, 8%, 15%);
    --text-color: hsl(250, 8%, 35%);
    --body-color: hsl(250, 60%, 96%);
    --container-color: #fff;
    --shadow: hsla(0, 0%, 15%, .1);
    --scroll-bar-color: hsl(250, 12%, 86%);
    --scroll-thumb-color: hsl(250, 12%, 80%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 600;

    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 7rem 0 2rem;
}

.section__title,
.breadcrumb__title {
    font-size: var(--h1-font-size);
}

.section__title,
.breadcrumb__subtitle {
    margin-bottom: var(--mb-3);
}

.section__title,
.breadcrumb__title,
.breadcrumb__subtitle {
    text-align: center;
}

.breadcrumb__subtitle span {
    color: var(--first-color);
}
/*=============== LAYOUT ===============*/
.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/*=============== HEADER SECTION ===============*/
.header {
    width: 100%;
    background-color: (transparent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}


/*=============== NAV ===============*/

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}
.nav__close,
.login__toggle,
.nav__logo,
.nav__toggle,
.nav__shop {
    color: var(--title-color);
}

.nav__logo {
    text-transform: lowercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav__logo-icon {
    font-size: 1.5rem;
}

.nav__btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: auto;
}

.nav__toggle,
.login__toggle,
.nav__shop {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__close {
    display: none;
}
.nav__toggle {
    display: none;
}

/* Change background header */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px var(--shadow);
}


/* Active link */

.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}


/*=============== MAIN ===============*/
/*========== HOME SECTION ==========*/
.home__content {
    padding: 9rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.home__group {
    display: grid;
    position: relative;
    padding-top: 2rem;
}

.home__img {
    height: 420px;
    transform: translateY(-3rem);
    justify-self: center;
}

.home__indicator {
    width: 8px;
    height: 8px;
    background: var(--title-color);
    border-radius: 50%;
    position: absolute;
    bottom: 15%;
    left: 45%;
}

.home__indicator::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 75px;
    background: var(--title-color);
    top: 0;
    right: 45%;
}

.home__details-img {
    position: absolute;
    bottom: 0;
    right: 58%;
}


.home__details-title,
.home__details-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.home__subtitle {
    font-weight: var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    line-height: 109%;
    margin-bottom: var(--mb-1-5);
}

.home__description {
    margin-bottom: var(--mb-2-5);
    padding-right: 2rem;
}

.home__buttons {
    display: flex;
    justify-content: space-between;
}

/* Swiper Class */
.swiper-pagination {
    position: initial;
    margin-top: var(--mb-2-5);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: var(--title-color);
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .5rem;
}

.swiper-pagination-bullet-active {
    width: 1.5rem;
    height: 5px;
    border-radius: .5rem;
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: all .3s ease;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
}

.button--link {
    color: var(--title-color);
    transition: .3s;
}

.button--link:hover{
    color: var(--first-color);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

/*========== DISCOUNT SECTION ==========*/

.discount__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
    background-color: var(--container-color);
    padding: 3rem 0;
    border-radius: 3rem;
}

.discount__img {
    width: 200px;
}

.discount__data {
    padding-left: 6rem;
    text-align: center;
}

.discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}


/*========== NEW ARRIVALS SECTION ==========*/

.new__container {
    padding-top: 1rem;
}

.new__img {
    width: 150px;
    margin-bottom: var(--mb-1);
    transition: .3s;
}

.new__content {
    position: relative;
    background-color: var(--container-color);
    width: 310px;
    padding: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}

.new__tag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.new__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.new__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.new__prices {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.new_price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.new__discount {
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.new__button {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.new__icon {
    font-size: 1.25rem;
}

.new__content:hover .new__img {
    transform: translateY(-.5rem);
}

.new__content:hover .new__button {
    right: 0;
}

/*========== STEPS SECTION ==========*/
.steps__bg {
    background-color: var(--container-color);
    padding: 3.5rem 2.5rem;
    border-radius: 1rem;
}

.steps__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding-top: 1rem;
}

.steps__card {
    background-color: var(--body-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
}

.steps__caard-number {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
    transition: .3s;
}

.steps__card-title {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);
}

.steps__card-description{
    font-size: var(--small-font-size);
}

.steps__card:hover .steps__caard-number {
    transform: translateY(-.5rem);
}


/*========== NEWSLETTER SECTION ==========*/

.newsletter__container {
    display: grid;
    grid-template-columns: -5fr;
    justify-content: center;
}

.newsletter__description {
    padding: 0 3rem;
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.newsletter__form {
    background-color: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .75rem;
}

.newsletter__input {
    width: 70%;
    padding: 0 .5rem;
    background: none;
    color: var(--title-color);
}

.newsletter__input::placeholder {
    color: var(--text-color);
}

/*=============== SHOP PAGE ===============*/
.shop__container {
    grid-template-columns: 1.7fr 3.3fr;
    column-gap: 1.8rem;
}

.sidebar {
    padding: 1.8rem;
    background-color: var(--container-color);
    border-radius: 1rem;
}

.filter__title {
    margin-left: .5rem;
    font-size: var(--h3-font-size);
    text-transform: uppercase;
}

.filter__subtitle {
    margin: 1.25rem 0 var(--mb-0-5);
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-0-5);
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.filter p {
    flex: 1;
}

.filter input {
    margin-right: var(--mb-0-75);
    cursor: pointer;
}

.shop__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.6rem;
}

.shop__content {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 0;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}

.shop__img{
    width: 180px;
    margin-bottom: var(--mb-1);
}

.shop__tag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.shop__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.shop__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.shop__prices {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.shop__price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.shop__discounts {
    color: var(--first-color);
    font-size: var(--small-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.shop__button {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.shop__icon {
    font-size: 1.25rem;
}

.shop__content:hover .shop__img {
    transition: all .3s ease;
    transform: translateY(-.8rem);
}

.shop__content:hover .shop__button {
    right: 0;
}

.shop__form {
    row-gap: 1.5rem;
}

.shop_form-content {
    display: flex;
    column-gap: .5rem;
    background: var(--container-color);
    border-radius: .5rem;
    padding: .25rem;
}

.shop__form-input {
    width: 100%;
    border: 1px solid var(--title-color);
    border-radius: .5rem;
    background: var(--container-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: .25rem .5rem .5rem .5rem;
}

.shop__form-input:focus {
    border: 1px solid var(--first-color);
}

.shop__form-icon {
    border-radius: .5rem;
    padding: .75rem;
    color: white;
    background-color: var(--first-color);
}

.shop__form-icon:hover {
    background-color: var(--first-color-alt);
}


/*=============== PAGINATION ===============*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 1.5rem;
    margin-top: var(--mb-2-5);
    font-size: var(--normal-font-size);
}

.pagination span{
    width: 2.2rem;
    height: 2.2rem;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .current{
    background-color: var(--first-color);
    color: #fff;
}

.pagination__icon {
    font-size: var(--h2-font-size);
}

/*=============== DETAILS PAGE ===============*/


/*=============== ABOUT PAGE ===============*/
.blog__container {
    row-gap: 1.8rem;
}

.blog__post {
    grid-template-columns: .8fr 1.2fr;
    column-gap: 2rem;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 1.2rem;
    padding: 1.4rem;
}

.blog__img {
    border-radius: .8rem;
}

.blog__details {
    font-size: var(--small-font-size);
    text-align: justify;
    margin-bottom: var(--mb-1);
}

.blog__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.blog__date {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-0-75);
}


/*=============== BLOG PAGE ===============*/


/*=============== CART PAGE ===============*/


/*=============== FAQ PAGE ===============*/
.questions__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: flex-start;
}

.questions__group {
    display: grid;
    row-gap: 2rem;
}

.questions__item {
    background-color: var(--container-color);
    border-radius: .25rem;
}

.questions__item-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.questions__icon {
    font-size: 1.25em;
    color: var(--title-color);
}

.questions__description {
    font-size: var(--smaller-font-size);
    padding: 0 3.5rem 2.25rem 2.75rem;
}

.questions__header {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.questions__content {
    overflow: hidden;
    height: 0;
}


.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content {
    transition: .4s;
}


/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content {
    background-color: var(--first-color);
}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon {
    color: #fff;
}

.accordion-open .questions__icon {
    transform: rotate(45deg);
}
/*=============== REGISTRATION PAGE ===============*/


/*=============== CONTACT PAGE ===============*/


/*=============== FOOTER ===============*/
.footer {
    position: relative;
    overflow: hidden;
}

.footer__container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
}

.footer__logo {
    color: var(--title-color);
    text-transform: lowercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: var(--mb-1);
}

.footer__logo-icon {
    font-size: 1.5rem;
}

.footer__description {
    margin-bottom: var(--mb-2-5);
}

.footer__social {
    display: flex;
    column-gap: .75rem;
}

.footer__social-link {
    display: inline-flex;
    background: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1.5rem;
    transition: .3s;
}

.footer__social-link:hover {
    background: var(--first-color);
    color: #fff;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer__links {
    display: grid;
    row-gap: .35rem;
}

.footer__link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 5rem;
}


/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background: var(--first-color);
    border-radius: .4rem;
    display: inline-flex;
    padding: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup:hover {
    opacity: 1;

}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
}

/* Show Scroll Up*/

.show-scroll  {
    bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .70rem;
    background: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: .5rem;
}

/*=============== LOGIN ===============*/

.login {
    position: fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 420px;
    box-shadow: -2px 0 4px var(--shadow);
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}

.login__title-center {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: var(--mb-3);
}

.login__close {
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    top: 1.5rem;
    right: .9rem;
    cursor: pointer;
}

.login__form {
    row-gap: 1.5rem;
}

.login__content {
    background: var(--container-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.login__label {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.login__input {
    width: 100%;
    background: var(--container-color);
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: .25rem .5rem .5rem 0;
}


.signup {
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.signup a {
    color: var(--first-color);
}

/* Show login */
.show-login {
    right: 0;
}


/*=============== CART ===============*/

.cart {
    position: fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 420px;
    box-shadow: -2px 0 4px var(--shadow);
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
}

.cart__title-center {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: var(--mb-3);
}

.cart__close {
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    top: 1.5rem;
    right: .9rem;
    cursor: pointer;
}

.cart-container {
    display: grid;
    row-gap: 1.5rem;
}

.cart__card {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.card__box {
    background-color: var(--container-color);
    padding: .75rem 1.25rem;
    display: flex;
    align-items: center;
}

.cart__img {
    width: 85px;
}

.cart__title {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5)
}

.cart__price {
    display: block;
    font-size: var(--normal-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1-5);
}

.cart__amount,
.cart__amount-content {
    display: flex;
    align-items: center;
}

.cart__amount {
    column-gap: 3rem;
}

.cart__amount-content {
    column-gap: 1.5rem;
}

.cart__amount-box {
    display: inline-flex;
    padding: .25rem;
    background: var(--container-color);
    cursor: pointer;
}

.cart__amount-trash {
    font-size: 1.15rem;
    color: var(--first-color);
    cursor: pointer;
}

.cart__prices {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__prices-item,
.cart__prices-total {
    color: var(--title-color);
}

.cart__prices-item {
    font-size: var(--small-font-size);
}

.cart__prices-total {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

/* Show cart */
.show-cart {
    right: 0;

}



/*=============== LIGHTBOX ===============*/


/* lightbox open */


/* lightbox open animation */


/*=============== STYLE SWITCHER ===============*/


/* Style switcher open */


/* Active theme color */


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
    .home__img {
        height: 400px;
    }
}

@media screen and (max-width: 992px) {
    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .section__title {
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-2);
    }

    .home__content {
        padding: 8rem 0 2rem;
    }
    .home__img {
        height: 300px;
        transform: translateY(0);
    }
    .home__indicator {
        bottom: initial;
        left: initial;
        top: 7rem;
        right: 2rem;
    }

    .home__indicator::after {
        top: -3rem;
        height: 48px;
    }

    .home__details-img{
        right: .5rem;
        bottom: initial;
    }

    .home__description {
        padding-right: 0;
    }

    .swiper-pagination {
        margin-top: var(--mb-2);
    }

    .discount__container {
        column-gap: 3rem;
    }

    .new__content {
        width: 242px;
        padding: 2rem 0 1.5rem 0;
    }

    .new__img {
        width: 120px;
    }

    .new__img,
    .new__subtitle {
        margin-bottom: var(--mb-0-5);
    }

    .new__title {
        font-size: var(--normal-font-size);
    }

    .steps__bg {
        padding: 3rem 2rem 2rem;
    }

    .steps__container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }

    .shop__container {
        grid-template-columns: 1.6fr 3.4fr;
    }

    .shop__content {
        padding: 2rem 0 1.5rem;
        border-radius: .75rem;
    }

    .shop__img {
        width: 120px;
    }

    .shop__img.
    .shop__subtitle {
        margin-bottom: var(--mb-0-5);
    }

    .shop__title {
        font-size: var(--normal-font-size);
    }

    .blog__title {
        font-size: var(--normal-font-size);
    }
    
    .blog__post {
        column-gap: 1.6rem;
    }

    .questions__group {
        row-gap: 1.5rem;
    }

    .questions__header {
        padding: .75rem .5rem;
    }

    .questions__description {
        padding: 0 1.25rem 1.25rem 2.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 767px) {
    body {
        margin: var(--header-height) 0 0 0;
    }

    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 2rem;
    }

    
    .nav__close,
    .nav__toggle {
        display: block;
    }

    .nav {
        height: var(--header-height);
    }
    
    .home__content {
        padding: 0;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .home__img {
        height: 250px;
    }

    .home__title {
        margin-bottom:  var(--mb-1);
    }

    .home__title,
    .home__subtitle {
        text-align: center;
    }

    .home__description {
        margin-bottom: var(--mb-1-5);
    }

    .swiper-pagination {
        margin-top: var(--mb-1-5);
    }

    .discount__container {
        grid-template-columns: 1fr;
        row-gap: 1.25rem;
        padding: 2.5rem 0 1.5rem;
        border-radius: 1rem;
    }

    .discount__img {
        justify-self: center;
        order: 1;
    }

    .discount__data {
        padding-left:0 ;
    }

    .newsletter__container {
        grid-template-columns: .7fr;
    }

    
    .section {
        padding: 4.5rem 0 2rem;
    }


    .show-menu {
        right: 0;
    }

    .shop__container {
        grid-template-columns: 520px;
        justify-content: center;
        row-gap: 2rem;
    }

    .pagination {
        justify-content: center;
    }

    .blog__post {
        grid-template-columns: repeat(2, 1fr);
    }

    .questions__container {
        grid-template-columns: 1fr;
    }

    .footer__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-content: start;
    }

    .footer__copy {

        margin: 4.5rem;
    }


}

@media screen and (max-width: 576px) {

    .steps__container {
        grid-template-columns: 1fr;
    }

    .steps__bg {
        padding: 3rem 2rem 2rem;
    }

    .newsletter__container {
        grid-template-columns: 1fr;
    }

    .shop__container {
        grid-template-columns: .8fr;
    }

    .shop__items {
        grid-template-columns: 1fr;
    }

    .sidebar {
        padding: 1.25rem 1.4rem;
    }

    .pagination span {
        height: 1.8rem;
        width: 1.8rem;
        line-height: 30px;
    }

    .pagination {
        column-gap: .4rem;
    }

    .login,
    .cart {
        width: 100%;
    }

    .blog__post {
        grid-template-columns: 1fr;
        row-gap: .8rem;
    }

}

/* For small devices */
@media screen and (max-width: 320px) {

    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav {
        column-gap: 0;
    }

    .home__img {
        height: 200px;
    }

    .home__buttons {
        flex-direction: column;
        width: max-content;
        row-gap: 1rem;
    }

    .steps__bg {
        padding: 2rem 1rem;
    }

    .steps__card {
        padding: 1.5rem;
    }

    .shop__container {
        grid-template-columns: 1fr;
    }

    .pagination span{
        font-size: var(--small-font-size);
    }

    .blog__post {
        padding: .8rem;
    }
}