/* ==================  GOOGLE FONTS =============== */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&family=Montserrat&display=swap');

/* ==================  CSS VARIABLES =============== */
:root{
    --header-height: 3.5rem;
    /* COLORS */
    --first-color: hsl(276, 90%, 58%);
    --first-color-dark: hsl(276, 90%, 50%);
    --first-color-light: hsl(276, 100%, 83%);
    --title-color: hsl(0, 0%, 87%);
    --text-color: hsl(0, 0%, 69%);
    --body-color: hsl(200, 12%, 5%);
    --container-color: hsl(200, 10%, 8%);
    --border-color: hsl(0, 0%, 20%);
    --white: #fff;


    /* FONT AND TYPOGRAPHY */
    --body-font: 'Jost', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;

    /* FONT WEIGHT */
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
}


/* ==================  BASE ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size:  var(--larger-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input, 
textarea, 
button {
    outline: none;
    border: none;
    background-color: transparent;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-600);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ==================  REUSABLE CSS CLASSES =============== */
.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* ==================  STYLE SWITCHER =============== */


/* ==================  HEADER & NAV =============== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 3px 9px hsla(0, 0, 0, 0.05);
}

.nav,
.nav__list{
    display: flex;
}

.nav{
    height: calc(var(--header-height) + 2.25rem);
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--first-color);
    font-size: var(--h2-font-size);
}

.nav__list{
    column-gap: 1.5rem;
}

.nav__link{
    color: var(--title-color);
    transition: all .3s ease;
}

/*  Active-link */

.active-link,
.nav__link:hover{
    color: var(--first-color);
}



/* ==================  HOME =============== */

.home {
    background-color: var(--container-color);
    padding-block: 9rem 3rem;
}

.home__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.home__small{
    font-size: var(--larger-font-size);
    font-weight: var(--weight-600);
    letter-spacing: 1px;
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 1.4;
}

.home__title span{
    font-weight: var(--weight-300);
}

.home__description {
    margin-block: 1.5rem 3rem;
}

.home__btns {
    display: flex;
    column-gap: 1rem;
}

.home__img-wrapper{
    margin-inline: auto 2rem;
    position: relative;
}

.home__img-wrapper::before,
.home__img-wrapper::after{
    content: '';
    position: absolute;
    inset: 0;
}

.home__img-wrapper::before{
    background-color: var(--first-color-light);
    animation: animate__before 8s ease-in-out infinite;
}

.home__img-wrapper::after{
    background-color: var(--first-color);
}

.home__img-wrapper::after,
.home__img{
    animation: animate__after 8s ease-in-out infinite;
}


.home__img {
    z-index: 10;
    position: relative;
    vertical-align: middle;
}


/* HOME ANIMATION */

@keyframes animate__before {
    0% {
        border-radius: 66% 34% 70% 30% / 71% 63% 37% 29%;
    }

    50% {
        border-radius: 25% 75% 17% 83% / 35% 63% 37% 65%;
    }

    100% {
        border-radius: 66% 34% 70% 30% / 71% 63% 37% 29%;
    }
}

@keyframes animate__after {
    0% {
        border-radius: 25% 75% 17% 83% / 35% 63% 37% 65%;
    }

    50% {
        border-radius: 66% 34% 70% 30% / 71% 63% 37% 29%;
    }

    100% {
        border-radius: 25% 75% 17% 83% / 35% 63% 37% 65%;
    }
}

/* ==================  BUTTON =============== */

.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white);
    padding: 0.9rem 2.5rem;
    font-size: var(--large-font-size);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.btn--transparent {
    background-color: transparent;
    color: var(--first-color);
}

/* button hover */

.btn:hover{
    background-color: var(--first-color-dark);
}

.btn--transparent:hover{
    background-color: var(--first-color);
    color: white;
}

